<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>ToDo List</title>
<link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
</head>
<body>
<div class="container my-2" align="center">
 
<h3>Task List</h3>
<a th:href="@{/addtask}" class="btn btn-primary btn-sm mb-3" >Add Task</a>
    <table style="width:80%" border="1"
           class = "table table-striped table-responsive-md">
    <thead>
  <tr>
    <th>Task</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
    <tr th:each="task,i : *{todoList}" th:class="${task.complete}? active : warning">
      <input type="hidden" th:field="*{todoList[__${i.index}__].id}" />
      <td th:text="${task.task}">Task Name</td><input type="hidden"
        th:field="*{todoList[__${i.index}__].task}" />
      <td><input type="checkbox" th:checked="${task.complete} == true"
          th:field="*{todoList[__${i.index}__].complete}" /></td>
    </tr>
  </tbody>
</table>
<!-- Update Button -->
<button type="submit" class="btn btn-primary">Update Tasks</button>

</div>
</body>
</html>
